.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.tsbuildinfo
*.local
.env
.cache
server/dist
public/dist
.vercel

# Claude files
.worktrees/

# Database dumps
*.dump

# Vote analysis files
*.docx
*.pages
*.xlsx

CLAUDE.md